[submodule "common"]
	path = common
	url = ../common
[submodule "config"]
	path = config
	url = ../config
[submodule "entities"]
	path = entities
	url = ../entities
[submodule "vehicle-priority"]
	path = vehicle-priority
	url = ../vehicle-priority
[submodule "signals"]
	path = signals
	url = ../signals
[submodule "status"]
	path = status
	url = ../status
[submodule "rsu"]
	path = rsu
	url = ../rsu
